<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <id>{{ choco_package_build_package_name }}</id>
    <version>{{ choco_package_build_object.version }}</version>
    <description>{{ choco_package_build_package_name }}</description>
    <authors>Anonymous</authors>
    <dependencies>
      <dependency id="chocolatey-core.extension" version="1.1.0" />
{% for key, value in choco_package_build_object.choco_dependencies | dictsort(true)  %}
      <dependency id="{{ key }}" version="{{ value }}" />
{% endfor %}
    </dependencies>
  </metadata>
</package>
